body {
    background-color: #eaeaea;
}

.popup-messages {
    width: 300px;
    padding: 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1080;

}

img.small {
    height: 70px;
}

img.preview {
    max-height: 300px;
    max-width: 300px;
}